.picture__icon__sun {
  background-image: url("https://storage.yandexcloud.net/nik-auto/vezemkolesa/www/assets/template_vlad/common/icons/product/icon-sun.svg");
}

.picture__icon__show {
  background-image: url("https://storage.yandexcloud.net/nik-auto/vezemkolesa/www/assets/template_vlad/common/icons/product/icon-snow.svg");
}

.picture__icon__stud {
  background-image: url("https://storage.yandexcloud.net/nik-auto/vezemkolesa/www/assets/template_vlad/common/icons/product/icon-stud.svg");
}

.picture__icon__sber__rassrochka {
  background-image: url("https://storage.yandexcloud.net/nik-auto/vezemkolesa/www/assets/template_vlad/common/icons/sber_label.svg");
}
