.main__slider{
    background-size: 60% 112%;
}
.hompage_sberbanner { 
    max-width: 680px;
    width: 100%;
    background-image: url("../img/sberbanner.png");
    background-size: cover;
    background-position: right center;
	.text { 

		a { 

			svg { 

				path { 

				}
			}
		}

		h2 { 

		}

		.more { 

		}

		p { 

		}
	}
}