@import "forms";
@import "vars";
.calculator_page { 
    width: 100%;
    padding: 40px 20px;
    padding-right: 324px;
	.calculator_cont { 
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;
		h1 { 
            font-family: 'Open Sans Condensed';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            margin-bottom: 20px;
            color: #444444;            
		}
		.calculator_box { 
            max-width: 1442px;
            width: 100%;
			.calculator_box_tabs { 
                width: 100%;
                background: #949DA7;
                display: flex;
                justify-content: flex-start;
                align-items: center;
				.setcalkulator { 
                    font-family: 'Open Sans Condensed';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 120%;
                    color: #FFFFFF;
                    padding: 0 40px;
                    height: 46px;
                    border-left: 1px solid #F9F9F9;
                    border-right: 1px solid #F9F9F9;
                    &.active{
                        border: unset;
                        background: #F9F9F9;
                        color: #444444;
                    }
				}
			}

			.calculator_block { 
                display: none;
                &:nth-child(2){
                    display: block;
                }
				.calculator_block_topText { 

					p { 

					}
				}

				.calculator_block_selects { 

					.selects_item { 

						p { 

						}

						.selects_item_flex { 

							label { 

								#select1 { 

								}
							}
						}
					}

					.sendbtn { 

						#sendbtn1 { 

						}
					}
				}

				.calculator_block_info { 

					.info_table { 

						.table { 

							.th { 

								p { 

								}
							}

							.tr { 

								p { 

									svg { 

										rect { 

										}

										path { 

										}
									}
								}
							}
						}

						.info_table_img { 

							img { 

							}
						}
					}
				}

				.calculator_block_bottom { 

					.bottomcalc { 

						.calc { 

							.calc_top { 

								.calc_top_left { 

									h4 { 

									}

									.calc_top_flex { 

										.calc_top_item { 

											p { 

											}

											img { 

											}
										}
									}

									.calc_bottom { 

										p { 

											span { 

											}
										}
									}
								}

								.calc_top_right { 

									h4 { 

									}

									p { 

										span { 

										}
									}
								}
							}
						}
					}
				}

				.calculator_block_attention { 

					span { 

					}

					p { 

					}
				}
			}
		}
	}
}