@import "forms";
@import "vars";
.calculator_page { 
    width: 100%;
    padding: 40px 20px;
    padding-right: 324px;
	.calculator_cont { 
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;
		h1 { 
            font-family: 'Open Sans Condensed';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            margin-bottom: 20px;
            color: #444444;            
		}
		.calculator_box { 
            max-width: 1442px;
            width: 100%;
			.calculator_box_tabs { 
                width: 100%;
                background: #949DA7;
                display: flex;
                justify-content: flex-start;
                align-items: center;
				.setcalkulator { 
                    font-family: 'Open Sans Condensed';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 120%;
                    color: #FFFFFF;
                    padding: 0 40px;
                    height: 46px;
                    order: 2;
                    border-left: 1px solid #F9F9F9;
                    border-right: 1px solid #F9F9F9;
                    &.active{
                        border: unset;
                        background: #F9F9F9;
                        color: #444444;
                        order: 1;
                    }
				}
			}

			.calculator_block { 
                display: none;
                width: 100%;
                &:nth-child(2){
                    display: block;
                }
				.calculator_block_topText { 
                    width: 100%;
                    background: #F9F9F9;
                    padding: 20px 40px;
					p { 
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: -0.01em;
                        color: #444444;
					}
				}
				.calculator_block_selects { 
                    width: 100%;
                    background: #F9F9F9;
                    padding: 20px 40px;
                    display: flex;
                    margin-bottom: 20px;
                    justify-content: flex-start;
                    align-items: flex-end;
                    gap: 20px;
					.selects_item { 
                        max-width: 520px;
                        width: 100%;
						p { 
                            font-family: 'Open Sans Condensed';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 120%;
                            margin-bottom: 10px;
                            color: #444444;
						}
						.selects_item_flex { 
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 20px;
							label { 
                                display: block;
                                max-width: 160px;
                                width: 100%;
								select { 
                                    width: 100%;
                                    height: 40px;
                                    padding: 0 10px;
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 17px;
                                    line-height: 140%;
                                    color: #444444;    
                                    background: #FFFFFF;
                                    border: 1px solid #DBE2E9;
                                    box-sizing: border-box;
                                    border-radius: 4px;                     
								}
							}
						}
					}
					.sendbtn { 
                        max-width: 200px;
                        width: 100%;
                        display: block;
						input { 
                            width: 100%;
                            height: 40px;
                            cursor: pointer;
                            border: unset;
                            background: #0E8ECF;
                            border-radius: 4px;
                            font-family: 'Open Sans Condensed';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 100%;
                            text-transform: uppercase;
                            color: #FFFFFF;
						}
					}
				}

				.calculator_block_info { 
                    width: 100%;
                    padding: 0 40px;
					.info_table { 
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 10px;
						.table { 
                            max-width: 980px;
                            width: 100%;
							.th { 
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                gap: 4px;
                                margin-bottom: 14px;
								p { 
                                    max-width: 212px;
                                    text-align: center;
                                    width: 100%;
                                    font-family: 'Open Sans Condensed';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 18px;
                                    line-height: 120%;
                                    color: #1E9CDB;
                                    &:first-child{
                                        max-width: 250px;
                                        text-align: left;
                                    }
								}
							}
							.tr { 
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                gap: 4px;
                                margin-bottom: 14px;
                                &:last-child{
                                    margin-bottom: 0;
                                }
								p { 
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 110%;
                                    color: #444444;
                                    max-width: 212px;
                                    text-align: center;
                                    width: 100%;
                                    &:first-child{
                                        max-width: 250px;
                                        text-align: left;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        gap: 10px;
                                    }
								}
							}
						}
						.info_table_img { 
                            max-width: 334px;
                            width: 100%;
							img { 
                                width: 100%;
							}
						}
					}
				}

				.calculator_block_bottom { 
                    width: 100%;
                    max-width: 980px;
					.bottomcalc { 
                        width: 100%;
						.calc { 
                            width: 100%;
							.calc_top { 
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
								.calc_top_left { 
                                    max-width: 460px;
                                    width: 100%;
									h4 { 
                                        font-family: 'Open Sans Condensed';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 18px;
                                        line-height: 120%;
                                        margin-bottom: 20px;
                                        color: #949DA7;
									}
									.calc_top_flex { 
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: flex-start;
                                        gap: 10px;
                                        margin-bottom: 10px;
										.calc_top_item { 
                                            max-width: 210px;
                                            width: 100%;
											p { 
                                                font-family: 'Open Sans Condensed';
                                                font-style: normal;
                                                font-weight: 700;
                                                font-size: 18px;
                                                line-height: 120%;
                                                display: flex;
                                                margin-bottom: 10px;
                                                color: #444444;
											}   
											img { 
                                                width: 100%;
											}
										}
									}
									.calc_bottom { 
                                        width: 100%;
                                        max-width: 460px;
										p { 
                                            width: 100%;
                                            justify-content: space-between;
                                            align-items: center;
                                            font-family: 'Inter';
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 110%;
                                            display: flex;
                                            margin-bottom: 10px;
                                            color: #444444;
                                            &:last-child{
                                                margin-bottom: 0;
                                            }
											span { 
                                                max-width: 185px;
                                                text-align: center;
                                                display: block;
                                                width: 100%;
											}
										}
									}
								}
								.calc_top_right { 
                                    max-width: 378px;
                                    width: 100%;
									h4 { 
                                        font-family: 'Open Sans Condensed';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 18px;
                                        line-height: 120%;
                                        color: #949DA7;
                                        margin-bottom: 20px;
									}
									p { 
                                        width: 100%;
                                        justify-content: space-between;
                                        align-items: center;
                                        font-family: 'Inter';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 110%;
                                        color: #444444;
                                        span { 
                                            max-width: 185px;
                                            text-align: center;
                                            display: block;
                                            width: 100%;
                                        }
									}
								}
							}
						}
					}
				}

				.calculator_block_attention { 
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    margin-top: 30px;
					span { 
                        font-family: 'Open Sans Condensed';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 100%;
                        color: #FF4343;
					}

					p { 
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 120%;
                        color: #444444;
                        max-width: 512px;
					}
				}
			}
		}
	}
}